---
import Layout from "../layouts/Layout.astro";
const now = new Date();

const { user } = Astro.locals;
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to Astro.</h1>
    <p>The current time is {now.toLocaleTimeString()}.</p>
    {
      user ? (
        <div>
          <p>You are logged in as {JSON.stringify(user)}.</p>
          <form
            action="/logout"
            method="post"
          >
            <button type="submit">Logout</button>
          </form>
        </div>
      ) : (
        <a href="/login">Login</a>
      )
    }
  </main>
</Layout>
